// COLORS
$color-primary: #eeeeee;
$color-primary-dark: #e4e4e4;
$color-brown: #bb9779;
$color-black: #111;
$color-red: #c22b2b;

// FONTS
$font-primary: 'Playfair Display';
$font-secondary: sans-serif;
$line-height: 1.6;
$font-size: 1.6rem;

// SPACING
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 4rem;
$space-xl: 8rem;
$space-grid: 86rem;
